.main-chat
  .header
    .left-box
      .left-box__group
        hiro
      .left-box__member
        Member :
        = current_user.name
    = link_to "#", class: "edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new_message
        .input
          =f.text_field :content, placeholder: 'type a message', class: 'input__text'
          =f.label :image, class: 'input__image' do
            = icon('far', 'image')
            =f.file_field :image, class: 'file'
        =f.submit 'Send', class: 'new_message__submit'